%color-inverso{
  background-color: $color-ppal;
  color: $color-light;
}

.btnb {
    font-family: $font;
    font-weight: $font-400;
    font-size: 1 rem;
    padding: 7px 15px;
    border: none;
    background-color: $color-light;
    color: $color-ppal; }

.btnb:hover {
  @extend %color-inverso;
  cursor: pointer; }
  
.btnw {
  @extend .btnb;
  background-color: $color-ppal;
  color: $color-light; }

.btnw:hover {
  background-color: $color-hover;
  color: $color-light;
  cursor: pointer;}
  