.form-label {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #040229;
    margin-bottom: 5px; }
  
  .map {
    width: 100vw;
    &__iframe {
    margin-top: 25px;
    width: 100%;
    height: 250px; }
    }