.header {
    background-image: linear-gradient(to left, $color-ppal , $color-secu);
    padding: 10px 30px 10px 30px;
    &__img {
    height: 55px; }
    &__link {
    color: $color-light;
    text-decoration: none;
    font-family: $font;
    font-weight: $font-400;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
    color: $color-hover ; }
    }
}

