.hero {
    background-size: contain;
    background-image: url(../img/bghomehero_1.png), linear-gradient(to left, $color-ppal, $color-secu);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 30px 0px 30px;
    &__contenedor {
    height: 100vh; }
    &__titulo {
    color: $color-light;
    font-family: $font;
    font-weight: $font-600;
    font-size: 4.5rem; }
    &__sub {
    color: $color-light;
    font-family: $font;
    font-weight: $font-200;
    font-size: 1.4rem;
    margin-top: -15px; }
    &__redes {
    list-style: none;
    font-family: $font;
    font-weight: $font-400;
    font-size: 1rem; }
    &__link {
    margin: 0px 10px;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase; 
    &:hover {
    color: $color-hover; }
    }
}