.me{
    &__foto {
    width: 105px;
    height: 105px;
    border-radius: 50%; }
    &__par {
    color: $color-ppal;
    font-family: $font;
    font-weight: $font-400;
    font-size: 1rem;
    text-align: center;
    margin-top: 5px; }
  }