@mixin pro-font {
  font-family: $font;
  font-weight: 400;
  text-align: left;
}

.tarjeta {
    background-image: linear-gradient(to left, $color-ppal, $color-secu);
    padding: 10px 0px 10px 15px;
    color: $color-light;
    &__mar {
    margin: 25px 30px 50px 30px; }
    &__titulo {
    font-family: $font;
    font-weight: $font-600;
    font-size: 1.2rem; }
    &__descripcion {
    font-family: $font;
    font-weight: $font-400;
    font-size: 1rem; }
    }

  .pro {
    height: 100%;
    background-color: $color-dark;
    padding: 30px 30px;
    &__sub {
    @include pro-font;
    color: $color-light;
    font-size: 1rem;
    text-transform: uppercase; }
    &__titulo {
    @include pro-font;
    font-size: 2.5rem;
    color: $color-light;}
    &__par {
    @include pro-font;
    color: $color-light;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 50px; }
    }