@mixin font {
    font-family: $font;
    color: $color-ppal;
    text-align: center;

}

.titulo {
    @include font;
    font-weight: $font-600;
    font-size: 3rem;
    margin-top: 50px; }
  
.sub {
    @include font;
    font-weight: $font-400;
    font-size: 1.4rem;
    margin-top: 5px;
    padding: 0px 30px 0px 30px; }
  
.par {
    @include font;
    font-weight: $font-400;
    font-size: 1rem;
    padding: 0px 30px 0px 30px; }  