/*
COLORES
*/
$color-ppal: #040229;
$color-secu: #20034e;
$color-hover: magenta;
$color-light: #fff;
$color-dark: #000;

/*
FONT FAMILY
*/

$font: 'Jost', sans-serif;
$font-200: 200;
$font-400: 400;
$font-600: 600